@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #161616;
}
.wrapper{
  position: relative;
  max-width: 500px;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrappert{
  position: relative;
  max-width: 1200px;
  width: 100%;
  background: #fff;
  padding: 30px;
  margin-left: 25px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper h2{
  position: relative;
  font-size: 22px;
  font-weight: 600;
  color: #333;
}
.wrapper h2::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 50px;
  border-radius: 12px;
  background: #000000;
}
.wrapper a{
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: #700ef1;
}
.wrapper form{
  margin-top: 20px;
  height: 100%;
}
.wrapper form .input-box{
  height: 35px;
  margin: 8px 0;
}

.wrapper form .remark{
  height: 100px;
  margin: 15px 0;
}


select{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

textarea{
  height: 110%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
  resize: none;
}

form .input-box input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

form .input-box button{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  color: #333;
  border: 1.5px solid #C7BEBE;
  border-bottom-width: 2.5px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.input-box input:focus,
.input-box input:valid{
  border-color: #000000;
}

form h3{
  color: #707070;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}
.input-box.button button{
  color: #fff;
  letter-spacing: 1px;
  border: none;
  background: #a340f4;
  cursor: pointer;
}
.input-box.button button:hover{
  background: #700ef1;
}
form .text h3{
 color: #333;
 width: 100%;
 text-align: center;
}
form .text h3 a{
  color: #000000;
  text-decoration: none;
}
form .text h3 a:hover{
  text-decoration: underline;
}

table{
  height: 100%;
  width: 100%;
  padding: 0 15px;
  border: 2px solid;
  border-radius:6px;
  -moz-border-radius:6px;
}

td{
  border: 1px solid;
}
